@{
    ViewBag.Title = "Giới Thiệu";
}

<br />
<br />
<br />
<br />
<p>
    <b>GIỚI THIỆU</b>
    <br />  Trong suốt quá trình kinh doanh, NIPERFUME sẽ luôn ý thức việc gìn giữ uy tín của mình qua chất lượng của từng sản phẩm, cách dịch vụ của nhân viên chúng tôi. Đối với tất cả các sản phẩm được nhập khẩu hoặc sản xuất trong nước mà NIPERFUME hiện đang phân phối, Công ty chúng tôi xin cam kết :
    <br />  1/ Hàng hóa được giao cho quý khách là hàng mới 100% nguyên đai nguyên kiện.
    <br /> ​2/ Hàng giao đảm bảo theo đúng tiêu chuẩn chất lượng của nhà sản xuất.
    <br /> 3/ NIPERFUME sẽ thay mặt quý khách thực hiện chế độ bảo hành sản phẩm đối với nhà sản xuất hoặc nhà nhập khẩu nếu sản phẩm bị lỗi hoặc hỏng hóc nhưng vẫn còn trong thời hạn bảo hành.
</p>
