
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* CSS cho trung tâm form */
    .register-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .register-form {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        text-align: center;
        max-width: 400px;
        width: 80%;
    }

        .register-form input[type="text"],
        .register-form input[type="password"],
        .register-form input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .register-form input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .register-form input[type="submit"]:hover {
                background-color: #45a049;
            }

        /* Thêm các quy tắc margin để căn giữa ô nhập */
        .register-form input[type="text"],
        .register-form input[type="password"] {
            margin-left: auto;
            margin-right: auto;
        }

    .register-link {
        margin-top: 10px;
    }

    .alert {
        margin-top: 10px;
    }
</style>

<div class="register-container">
    <div class="register-form">
        <h2>Đăng Ký</h2>
        @using (Html.BeginForm("KiemTraDangKy", "DangKy"))
        {
            <p><input type="text" name="Ho" placeholder="Họ" /></p>
            <p><input type="text" name="Ten" placeholder="Tên" /></p>
            <p><input type="text" name="Email" placeholder="Email" /></p>
            <p><input type="text" name="SDT" placeholder="Số điện thoại" /></p>
            <p><input type="password" name="Password" placeholder="Mật khẩu" /></p>
            <p><input type="submit" value="Đăng Ký" /></p>
            <p class="register-link">@Html.ActionLink("Bạn đã có tài khoản", "DangNhap", "DangNhap")</p>
        }

        @if (ViewBag.message != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.message
            </div>
        }
    </div>
</div>

